.card4 {
  position: relative;
}

.backgroud-bg {
  width: 100%;
  height: 600px;
  background-color: #212121;
  display: flex;
}

.content-wrapper {
  width: 50%;
  padding: 20px;
  color: white;
}

.content-wrapper h2 {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.table-wrapper {
  margin-top: 90px;
  width: 50%;
  padding: 20px;
  color: white;
}

.table-wrapper table {
  width: 100%;
  height: 300px;
  color: white;
  border: 0.1px solid white;
  border-radius: 10px;
}

.table-wrapper .different-color {
  background-color: #FF7759;
  border-collapse: collapse;
}

.table-wrapper td {
  padding: 10px;
  text-align: center;
  color: white;
}

.table-wrapper tr:not(:last-child) td {
  border-bottom: 1px solid white;
}

.table-wrapper tr td:not(:last-child) {
  border-right: 1px solid white;
}

.new-animate {
  display: flex;
  cursor: pointer;
}

.new-title {
  position: relative;
  padding: 10px 90px;
  background-color: white;
  color: black;
  font-size: 15px;
  clip-path: polygon(0% 0%, 100% 0, 96% 100%, 75% 100%, 0% 100%);
  border-radius: 10px;
}

.new-icon {
  position: relative;
  padding: 10px 20px;
  background-color: white;
  color: black;
  font-size: 15px;
  clip-path: polygon(25% 1%, 100% 0, 99% 100%, 55% 100%, 0 99%);
  border-radius: 10px;
  margin-left: -10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .backgroud-bg {
    flex-direction: column;
    height: auto;
  }

  .content-wrapper,
  .table-wrapper {
    width: 100%;
    margin-top: -9%;
  }

  .new-title,
  .new-icon {
    font-size: 15px;
    padding: 15px;
    margin: 5px;
  }
}
