.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-section h3 {
    font-size: 12px;
    font-weight: lighter;
    line-height: 10px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    line-height: 2;
    padding: 0;
    margin: 0;
  }
  
  .footer-section li {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
    margin-top: -20px;
  }
  
  .footer-logo i {
    font-size: 18rem;
    margin-left: 10px;
  }
  
  .footer-title {
    font-size: 18rem;
    font-weight: bold;
    margin: 0;
  }
  
  .footer-line {
    height: 1px;
    background-color: gray;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .footer-social a {
    margin-right: 10px;
  }
  
  .footer-links {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  
  .footer-links a {
    margin: 5px;
    text-decoration: none;
    color: #fff;
  }
  
  .footer-links span {
    margin-right: 10px;
    color: #999;
  }

  @media (max-width: 768px) {
    .footer-logo i {
        font-size: 5rem;
        margin-left: 10px;
      }
      
      .footer-title {
        font-size: 5rem;
        font-weight: bold;
        margin: 0;
      }
  }
  